<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
    <h1>Список товаров</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Искать</button>
    </form>
    <a href="{% url 'add_product' %}">Добавить товар</a>
    <a href="{% url 'add_category' %}">Добавить категорию</a>
    <ul>
        {% for product in products %}
        <li>
            <h2>{{ product.title }}</h2>
            <p>Цена: ${{ product.price }}</p>
            <p>Остаток: {{ product.stock }}</p>
            <img src="{{ product.image_url }}" alt="{{ product.title }}" style="width:150px;height:150px;">
            <a href="{% url 'product_details' product.id %}">Подробнее >></a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
